:host {
  display: block;
}

.cowsay {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre;
  font-size: 0.9em;
  padding: 0.5em;
}

.cowsay *::selection {
  color: #000;
  background: #fff;
}
