<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{ ABBR }} Racer - Natalie Martin: Software Engineer &amp; Game Developer
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="author" content="Natalie Martin" />
    <meta
      name="description"
      content="A 2D racing minigame styled after Outrun. Drive through the Arizona desert in the CZP GT-R and reach the goal in the time limit."
    />
    <meta
      property="og:image"
      content="https://{{ SITE_DOMAIN }}/img/czpracer_title.png"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:site_name"
      content="Natalie Martin: Software Engineer &amp; Game Developer"
    />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <script src="script.js" type="text/javascript"></script>
  </head>
  <body>
    <a class="theme-switcher"></a>
    <div class="about-me">
      <div class="name-bio">
        <h1>Natalie Martin</h1>
        <span class="pronouns">(she/her)</span>
      </div>
      <h2>
        <span class="avoid-wrap">Software Engineer</span> and
        <span class="avoid-wrap">Game Developer</span>
      </h2>
      <hr />
    </div>
    <div class="game-summary">
      <h2 title="Twin Turbocharged Typescript!">{{ ABBR }} Racer</h2>
      <div class="cover-gameinfo">
        <img
          src="img/czpracer_title.png"
          alt="{{ ABBR }} Racer"
          title="Now THIS makes me want to buy car parts!"
        />
        <table class="gameinfo">
          <thead>
            <tr>
              <td colspan="2">Game Info</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name:</td>
              <td>{{ ABBR }} Racer</td>
            </tr>
            <tr>
              <td>Year:</td>
              <td>2020</td>
            </tr>
            <tr>
              <td>Made in:</td>
              <td>Typescript</td>
            </tr>
            <tr>
              <td colspan="2">
                <a href="https://bit.ly/3JzueWv" referrerpolicy="no-referrer"
                  >Play Game on {{ ABBR }}&rsquo;s website</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>
        {{ ABBR }} Racer is a retro-styled arcade racing minigame made for
        {{ COMPANY_FULLNAME }}. It is heavily inspired by <em>Outrun,</em> with
        similar faux-3D effects and sprite scaling. Race through the Arizona
        desert in {{ COMPANY_FULLNAME }}&rsquo;s
        <a
          href="https://en.wikipedia.org/wiki/Nissan_GT-R"
          target="_blank"
          title="cue eurobeat"
          >GT-R</a
        >
        and reach the goal in the time limit.
      </p>
      <div class="webm">
        <video
          src="webm/czpracer.webm"
          loop="loop"
          autoplay="autoplay"
          muted="muted"
        >
          CZP Racer Video
        </video>
      </div>
      <p>
        Here&rsquo;s a fun little fact about the game: You can unlock a hidden
        hard mode if you beat the game without hitting any cars on the road or
        crashing. If you successfully do that, upon restarting the game
        you&rsquo;ll see you&rsquo;re playing as
        <q title="An inside joke from the company at the time">Terry Turbo</q>
        and the game will have slightly different stats: the car&rsquo;s top
        speed, acceleration, and handling will all increase, but the time limit
        will decrease. And higher speed means you&rsquo;re more likely to run
        off the track after hitting an opponent driver!
      </p>
      <p>
        You can play the game on
        <a href="https://bit.ly/3JzueWv" referrerpolicy="no-referrer"
          >{{ COMPANY_FULLNAME }}&rsquo;s website.</a
        >
      </p>
      <h3>Technologies</h3>
      <ul>
        <li>
          <strong>Programmed in:</strong>
          <span
            title="Though technically all JavaScript is just TypeScript with a LOT of `any` type declarations"
            >TypeScript</span
          >
        </li>
        <li><strong>Build System:</strong> Webpack</li>
        <li>Browser 2D Canvas API</li>
      </ul>
      <h3>Roles and Development</h3>
      <p>
        Created during employment at {{ COMPANY_FULLNAME }}, the making of this
        game involved being its software engineer and lead of concept design.
        <span
          title="Although I did make the road graphics and the lower-detail mountain graphic used as the bottom parallax layer."
          >The pixel art was created by another employee,</span
        >
        with project management duties being taken up by {{ ABBR }}&rsquo;s
        management. This game involved working collaboratively as a team,
        adhering to strict detail requirements, and ensuring deadlines were met
        for completion in 2020.
      </p>

      <p>
        {{ ABBR }} Racer was made in a custom TypeScript-based engine. Unlike
        later games, this one does not use any dependencies for rendering,
        instead relying on the native browser
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API"
          title="I think if I made a game like this today I could pull off similar effects with shaders."
          target="_blank"
          >2D Canvas</a
        >
        API for all rendering needs. The Canvas API was also used to dynamically
        generate the road textures, which are stored in memory and manipulated
        to create a faux-3D effect.
      </p>

      <p>
        The game was originally intended to be longer, with multiple different
        areas which would transition into each other, just like in
        <em>Outrun.</em> While the code to handle this transition effect is in
        the final game, only one area is actually defined: the desert area.
      </p>

      <div class="youtube">
        <h3>Gameplay Video</h3>

        <iframe
          width="560"
          height="315"
          src="https://www.youtube-nocookie.com/embed/az1pZ6oA7Tw"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <h3>Image Gallery</h3>
      <div class="gallery">
        <a href="img/czpracer_start.png" target="_blank">
          <img
            src="img/czpracer_start.png"
            alt="{{ ABBR }} Racer Image"
            title="Hey I&rsquo;m Grump"
          />
        </a>
        <a href="img/czpracer_signs.png" target="_blank"
          ><img
            src="img/czpracer_signs.png"
            alt="{{ ABBR }} Racer Image"
            title="I don&rsquo;t know why they bought so many billboards for this road in the middle of the desert."
        /></a>
        <a href="img/czpracer_terry.png" target="_blank">
          <img
            src="img/czpracer_terry.png"
            alt="{{ ABBR }} Racer Image"
            title="I&rsquo;m surprised no one ever asked why there&rsquo;s no manual transmission in this game."
          />
        </a>
        <a href="img/czp_thanks.png" target="_blank">
          <img
            src="img/czp_thanks.png"
            alt="{{ ABBR }} Racer Image"
            title="(there will be no more levels)"
          />
        </a>
      </div>
      <br /><br />
      <a href="." class="back-to-homepage">Back to main page</a>
    </div>
  </body>
</html>
