<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Natalie Martin: Software Engineer &amp; Game Developer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="author" content="Natalie Martin" />
    <meta
      name="description"
      content="Natalie Martin&rsquo;s Game Development Portfolio"
    />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <script src="script.js" type="text/javascript"></script>
  </head>
  <body>
    <a class="theme-switcher"></a>
    <div class="about-me">
      <div class="name-bio">
        <h1>Natalie Martin</h1>
        <span class="pronouns">(she/her)</span>
      </div>
      <h2>
        <span class="avoid-wrap">Software Engineer</span> and
        <span class="avoid-wrap">Game Developer</span>
      </h2>
      <p>
        I am a professional Software Engineer who loves programming video games.
      </p>
    </div>
    <div class="gameslist">
      <div class="game">
        <div class="title">
          <a href="vacation.html" title="Virtual Vacation Zone"
            ><img src="img/vacationzone_title.png" alt="Virtual Vacation Zone"
          /></a>
          <a
            href="vacation.html"
            title="An Anti-Angularity Album Announcement (Archangel-Assisted)"
            ><strong
              >Virtual Vacation Zone<span
                title="When everyone lives in the future, the present is au revoir"
                >+</span
              ></strong
            >
            <time datetime="2021-07-15">(2021)</time></a
          >
        </div>
        <div class="description">
          <span>
            A board game, poetic memoir, and visual novel. Submit your own
            vacation memories for other players to see. Embark on a cerebral
            getaway today!</span
          >
        </div>
      </div>
      <div class="game">
        <div class="title">
          <a href="tax.html" title="Extreme Tax Masters">
            <img src="img/tax_title.png" alt="Extreme Tax Masters" />
          </a>
          <a href="tax.html" title="An Inky Itchy Debut"
            ><strong>Extreme Tax Masters</strong>
            <time datetime="2021-03-11">(2021)</time></a
          >
        </div>
        <div class="description">
          A silly visual novel where you do people&rsquo;s taxes by smashing on
          your keyboard and causing explosions. Can you save the day and become
          the ultimate Tax Master?
        </div>
      </div>
      <div class="game">
        <div class="title">
          <a href="czp.html" title="{{ ABBR }} Racer">
            <img src="img/czpracer_title.png" alt="{{ ABBR }} Racer" />
          </a>
          <a href="czp.html" title="Twin Turbocharged Typescript">
            <strong>{{ ABBR }} Racer</strong>
            <time datetime="2020-04-03">(2020)</time>
          </a>
        </div>
        <div class="description">
          A 2D racing minigame styled after <em>Outrun</em>. Drive through the
          Arizona desert in the {{ ABBR }} GT-R and reach the goal in the time
          limit. Race like Terry Turbo!
        </div>
      </div>
      <div class="game">
        <div class="title">
          <a href="mole.html" title="Hymn of the Moles">
            <img src="img/hymn_harsh.png" alt="Hymn of the Moles" />
          </a>
          <a href="mole.html" title="Subterranean Segfaults">
            <strong>Hymn of the Moles</strong>
            <time datetime="2014-04-26">(2014)</time>
          </a>
        </div>
        <div class="description">
          A rhythm game based on The Residents&rsquo; 1981 album,
          <em>Mark of the Mole</em> and its cancelled Atari game. Play as a Mole
          singing songs in the mines.
        </div>
      </div>
    </div>
  </body>
</html>
