<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Hymn of the Moles - Natalie Martin: Software Engineer &amp; Game Developer
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="author" content="Natalie Martin" />
    <meta
      name="description"
      content="A rhythm game based on The Residents' 1981 album, Mark of the Mole and its cancelled Atari game."
    />
    <meta
      property="og:image"
      content="https://{{ SITE_DOMAIN }}/img/hymn_harsh.png"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:site_name"
      content="Natalie Martin: Software Engineer &amp; Game Developer"
    />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <script src="script.js" type="text/javascript"></script>
  </head>
  <body>
    <a class="theme-switcher"></a>
    <div class="about-me">
      <div class="name-bio">
        <h1>Natalie Martin</h1>
        <span class="pronouns">(she/her)</span>
      </div>
      <h2>
        <span class="avoid-wrap">Software Engineer</span> and
        <span class="avoid-wrap">Game Developer</span>
      </h2>
      <hr />
    </div>
    <div class="game-summary">
      <h2 title="Subterranean Segfaults">Hymn of the Moles</h2>
      <div class="cover-gameinfo">
        <img
          src="img/hymn_harsh.png"
          alt="Hymn of the Moles"
          title="Not so harsh indeed! I march to the sea!"
        />
        <table class="gameinfo">
          <thead>
            <tr>
              <td colspan="2">Game Info</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name:</td>
              <td>Hymn of the Moles</td>
            </tr>
            <tr>
              <td>Year:</td>
              <td>2014</td>
            </tr>
            <tr>
              <td>Made in:</td>
              <td>C++</td>
            </tr>
            <tr>
              <td colspan="2">
                <a href="download/moles.zip">Download Game (Windows)</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>
        Hymn of the Moles is a rhythm game based on The Residents&rsquo; 1981
        album,
        <q>Mark of the Mole,</q> and its unfinished Atari game. You play as a
        <q>Mole,</q> hired to work in the mines. While working, you sing songs
        and this creates the main gameplay: hit the arrow keys in time with the
        various notes on screen and the beat.
      </p>
      <p>
        You can download the game <a href="download/moles.zip">here.</a> This is
        a Windows EXE, but I have tested it with Wine on my Linux computer and
        it works fine!
      </p>
      <h3>Technologies</h3>
      <ul>
        <li>
          <strong>Programmed in:</strong>
          <span
            title="It&rsquo;s true! I can make games in more than just Javascript!"
            >C++</span
          >
        </li>
        <li>OpenGL</li>
        <li>SDL2</li>
        <li>
          <span
            title='as someone with serious imposter syndrome when it comes to game dev, this is the single line of my portfolio that makes me thing "woah, am i an actual game developer?"'
            >FMOD Ex</span
          >
        </li>
      </ul>
      <h3>Roles and Development</h3>
      <p>
        This game was a <strong>solo project,</strong> made during the 29th
        Ludum Dare Game Jam. The theme for the Jam was
        <q>Beneath the Surface.</q> The game was developed for both Linux and
        Windows.
      </p>
      <p>
        Hymn of the Moles was written in <strong>C++</strong> with
        <strong>OpenGL, SDL2, and FMOD.</strong> Most of the library code was
        written ahead of the Game Jam. I made this game while in high school,
        before I had any exposure to Linear Algebra, and in hindsight it would
        have been much easier to create using matrices to perform linear
        transformations.
        <span title="At least I didn&rsquo;t try this with a 3D game"
          >Instead, much of the scaling/rotation transformations were manually
          coded!</span
        >
      </p>
      <p>The game uses music and characters by The Residents.</p>
      <h3>Image Gallery</h3>
      <div class="gallery">
        <a href="img/hymn_gameplay.png" target="_blank">
          <img
            src="img/hymn_gameplay.png"
            alt="Hymn of the Moles Image"
            title="Time to d-d-d-dance! ... Or work."
          />
        </a>
        <a href="img/hymn_harsh.png" target="_blank"
          ><img
            src="img/hymn_harsh.png"
            alt="Hymn of the Moles Image"
            title="If there was no desperation would we be alive?"
        /></a>
        <a href="img/hymn_gameplay2.png" target="_blank"
          ><img
            src="img/hymn_gameplay2.png"
            alt="Hymn of the Moles Image"
            title="Wait this is almost the same as the first screenshot"
        /></a>
        <a href="img/hymn_ed2.png" target="_blank">
          <img
            src="img/hymn_ed2.png"
            alt="Hymn of the Moles Image"
            title="oh god it&rsquo;s my cringe ludum dare username nooooo"
          />
        </a>
      </div>
      <br /><br />
      <a href="." class="back-to-homepage">Back to main page</a>
    </div>
  </body>
</html>
