<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Virtual Vacation Zone+ - Natalie Martin: Software Engineer &amp; Game
      Developer
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="author" content="Natalie Martin" />
    <meta
      name="description"
      content="A board game, poetic memoir, and visual novel. Embark on a cerebral getaway today!"
    />
    <meta
      property="og:image"
      content="https://{{ SITE_DOMAIN }}/img/vacationzone_title.png"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:site_name"
      content="Natalie Martin: Software Engineer &amp; Game Developer"
    />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <script src="script.js" type="text/javascript"></script>
  </head>
  <body>
    <a class="theme-switcher"></a>
    <div class="about-me">
      <div class="name-bio">
        <h1>Natalie Martin</h1>
        <span class="pronouns">(she/her)</span>
      </div>
      <h2>
        <span class="avoid-wrap">Software Engineer</span> and
        <span class="avoid-wrap">Game Developer</span>
      </h2>
      <hr />
    </div>
    <div class="game-summary">
      <h2>Virtual Vacation Zone+</h2>
      <div class="cover-gameinfo">
        <img
          src="img/vacationzone_title.png"
          alt="Virtual Vacation Zone"
          title="I should have added timeshares to this game"
        />
        <table class="gameinfo">
          <thead>
            <tr>
              <td colspan="2">Game Info</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name:</td>
              <td>Virtual Vacation Zone</td>
            </tr>
            <tr>
              <td>Year:</td>
              <td>2021</td>
            </tr>
            <tr>
              <td>Made in:</td>
              <td>Pixi.js + React</td>
            </tr>
            <tr>
              <td colspan="2">
                <a href="https://meisekimiu.itch.io/virtual-vacation-zone"
                  >Play Game on itch.io</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>
        Virtual Vacation Zone+ is an interactive poetic memoir, board game, and
        visual novel. Submit your own vacation memory before you embark on your
        own cerebral getaway. Play a simple board game to determine what
        emotions you feel next on your vacation, and maybe even read other
        players&rsquo; vacation memories.
      </p>
      <p>
        Halfway through the game, you can play the subgame
        <strong><q>Telemetry &amp; Jeff,</q></strong> a short visual novel about
        Telemetry trying to find herself some lunch.
      </p>
      <p>
        You can play the game on
        <a href="https://meisekimiu.itch.io/virtual-vacation-zone">Itch.io</a>
        right now! Feel free to submit your own memories!
      </p>
      <h3>Technologies</h3>
      <ul>
        <li>
          <strong>Programmed in:</strong>
          <span title="is typescript worth all the hypescript?"
            >TypeScript</span
          >
        </li>
        <li>
          <a
            href="https://pixijs.com/"
            title='Technically it&rsquo;s mostly written in Typescript these days so it should really be "Pixi.ts"'
            >Pixi.js</a
          >
        </li>
        <li>
          <a
            href="https://react.dev/"
            title="Meta&rsquo;s Facebook&rsquo;s React™"
            >React</a
          >
        </li>
        <li>
          <a
            href="https://www.inklestudios.com/ink/"
            title="Specifically Inkle&rsquo;s Ink. Sorry if you thought that meant I handwrote the code with an ink pen."
            >Ink</a
          >
          / <a href="https://github.com/y-lohse/inkjs">Ink.js</a>
        </li>
        <li><strong>API Built In:</strong> PHP and MySQL</li>
      </ul>
      <h3>Roles and Development</h3>
      <p>
        This game was a <strong>solo project</strong> made in a Game Jam
        environment. Specifically, it was made for Nicole He&rsquo;s
        <q>Vacation</q> Stream in July of 2021. The game was made in a week,
        although it has been updated several times to add in new vacation
        memories and scenarios.
      </p>
      <p>
        Virtual Vacation Zone begins on an initial <q>web site</q> that was
        built in React. The rest of the game was built in the same custom
        Pixi.js-based game engine used in
        <a href="tax.html">Extreme Tax Masters.</a> The visual novel segment of
        the game was scripted in Ink and uses a newer version of the visual
        novel system used in Extreme Tax Masters.
      </p>
      <p>
        The graphics for the visual novel segment, as well as the music,
        writing, and engineering were all completed single-handedly.
      </p>
      <h3>Image Gallery</h3>
      <div class="gallery">
        <a href="img/vacation_landing.png" target="_blank">
          <img
            src="img/vacation_landing.png"
            alt="Virtual Vacatio Zone Image"
            title="With real &lt;marquee&gt; tags"
          />
        </a>
        <a href="img/vacationzone_web.png" target="_blank">
          <img
            src="img/vacationzone_web.png"
            alt="Virtual Vacatio Zone Image"
            title="This is built in React and Typescript"
          />
        </a>
        <a href="img/virtual_vacation_boardgame.png" target="_blank"
          ><img
            src="img/virtual_vacation_boardgame.png"
            alt="Virtual Vacatio Zone Image"
            title='I stole the idea of "Happy Points" straight from Animal Crossing: Amiibo Festival'
        /></a>
        <a href="img/virtual_vacation_concept.png" target="_blank">
          <img
            src="img/virtual_vacation_concept.png"
            alt="Virtual Vacation Zone Image"
            title="As featured in bio4"
          />
        </a>
        <a href="img/telemetry.png" target="_blank">
          <img
            src="img/telemetry.png"
            alt="Virtual Vacation Zone Image"
            title="I wonder where she went..."
          />
        </a>
        <a href="img/vacation_credits.png" target="_blank">
          <img
            src="img/vacation_credits.png"
            alt="Virtual Vacatio Zone Image"
            title="You can potentially get your name in the credits of someone else&rsquo;s playthrough by submitting your memory"
          />
        </a>
      </div>
      <br /><br />
      <a href="." class="back-to-homepage">Back to main page</a>
    </div>
  </body>
</html>
