@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Parisienne&display=swap');

* {
  box-sizing: border-box;
}

html {
  background: url('bg.gif');
  font-family: serif;
  color: #ab005e;
  font-size: 1.25em;
}

header {
  text-align: center;
  font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alex Brush', cursive;
  color: #e4007e;
  font-size: 150%;
  margin-top: 0;
  text-align: center;
}

h2 {
  font-size: 2em;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #f093bb88;
  padding: 1em;
  border-radius: 1em;
}

.anime_btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  width: 900px;
  height: 190px;
}

.disabled_btn {
  filter: grayscale(1);
  cursor: not-allowed;
}

.disabled_btn > img:hover {
  background-color: transparent !important;
}

.anime_btn > img {
  background: transparent;
  transition: background-color 0.3s;
}

.anime_btn > img:hover {
  background-color: #fff5;
}

.aurora_dream_btn {
  background: url('./aurora_dream_button_bg.png');
}

.dear_my_future_btn {
  background: url('./dear_my_future_button_bg.png');
}

.rainbow_live_btn {
  background: url('./rainbow_live_button_bg.png');
}

.btn_wrapper {
  width: 900px;
  height: 190px;
  padding: 0;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.under_construction_banner {
  position: absolute;
  background-color: #c00;
  border: 3px dashed #000;
  color: #fff;
  font-family: sans-serif;
  height: 2em;
  width: 200%;
  text-align: center;
  transform: rotate(11.92deg);
  z-index: 1;
  top: 95px;
  left: -450px;
}

.under_construction_banner p {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  user-select: none;
}

aside {
  width: 0px;
  height: 0px;
}

.watch_progress {
  position: relative;
  top: -500px;
  left: -400px;
  width: 350px;
  border: 3px solid #fff;
  border-radius: 2em;
  padding: 1em;
  background: #f093bb;
  text-align: center;
}

.watch_progress h4 {
  margin-bottom: 0.25em;
}

.watch_progress meter {
  display: block;
}

.watch_progress meter, .watch_progress img {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons > * {
  margin: 3px;
}

.buttons img {
  max-height: 52px;
}

footer .return {
  font-size: 1.5em;
  text-align: center;
}

.dreamcontainer {
  display: block;
  text-align: right;
}

.dreamgoeson {
  display: inline-block;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Parisienne', cursive;
  text-shadow:
    -1px -1px 0 #ab005e,
    1px -1px 0 #ab005e,
    -1px 1px 0 #ab005e,
    1px 1px 0 #ab005e;
}

@media only screen and (max-width: 1800px) {
  aside {
    width: auto;
    height: auto;
  }

  .watch_progress {
    position: static;
    top: 0;
    left: 0;
    margin: 1em auto;
  }
}
