html,
body {
  background-color: #000;
  color: #eee;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

main {
  ul,
  dl {
    max-width: 1200px;
    padding: 1em;
    margin: 0 auto;
    dd {
      margin-bottom: 0.5em;
    }
  }
  p {
    max-width: 1200px;
    padding: 1em;
    margin: 0 auto;
    &::first-letter {
      font-size: 1.5rem;
    }
  }
}

a {
  transition: color 0.3s;
  &:link {
    color: #bfa10a;
  }
  &:visited {
    color: #aba273;
  }
  &:hover,
  &:active {
    color: #dfc12a;
  }
}

.crosspost {
  color: #aaa;
  font-size: 1.125em;
  text-align: center;
  &::first-letter {
    font-size: 1em;
  }
}

span[title] {
  cursor: help;
  border-color: transparent;
  border: 1px dashed #fff0;
  transition: border-color 0.3s;
}
span[title]:hover {
  border-bottom: 1px dashed #fff9;
}

article ins {
  padding: 1em;
  border-radius: 1em;
  background-color: #dfc12a33;
  display: block;
}

.nobr {
  white-space: nowrap;
}

table {
  margin: 0 auto;
  width: 75%;
  min-width: 900px;
  table-layout: fixed;
  border: 1px solid #fff;

  td {
    text-align: center;
    border: 1px solid #fff;
    padding: 0.5em;
    max-width: 50%;
  }
}

ruby {
  cursor: help;
  border-bottom: 1px dashed #fff;

  rt {
    transition: opacity 0.3s;
    opacity: 0;
  }

  &:hover {
    rt {
      opacity: 1;
    }
  }
}
