<div class="navigation-header">
  <strong>Main Website</strong>
  <hr />
</div>
<div class="navigation-group">
  <a href="index.html">
    <div class="icon">
      <img src="img/nav/msie1-1.png" alt="Home Page" />
      <span>Homepage</span>
    </div>
  </a>
  <a href="#">
    <div class="icon">
      <img src="img/nav/monitor_moon.png" alt="About" />
      <span>About</span>
    </div>
  </a>
  <a href="#">
    <div class="icon">
      <img src="img/nav/journal.png" alt="Journal" />
      <span>Journal</span>
    </div>
  </a>
  <a href="#">
    <div class="icon">
      <img src="img/nav/html2-2.png" alt="Shrines" />
      <span>Shrines</span>
    </div>
  </a>
  <a href="#">
    <div class="icon">
      <img src="img/nav/console_prompt-0.png" alt="Programming" />
      <span>Programming</span>
    </div>
  </a>
  <a href="#">
    <div class="icon">
      <img src="img/nav/accordion.png"  alt="Accordion" />
      <span>Accordion</span>
    </div>
  </a>
  <a href="#">
    <div class="icon">
      <img src="img/nav/recycle_bin_full-0.png" alt="Random Stuff" />
      <span>Random Stuff</span>
    </div>
  </a>
  <a href="#">
    <div class="icon">
      <img src="img/nav/connected_world-0.png" alt="Links" />
      <span>Links</span>
    </div>
  </a>
  <a href="#">
    <div class="icon">
      <img src="img/nav/help_book_cool-4.png" alt="Sitemap" />
      <span>Sitemap</span>
    </div>
  </a>
</div>
<div class="navigation-header">
  <strong>Sub-Sites</strong>
  <hr />
</div>
<div class="navigation-group">
  <a href="https://mew151.net/bios/gate_selection.html">
    <div class="icon">
      <img src="img/nav/eve.png" alt="Weird Art" />
      <span>{ bios }</span>
    </div>
  </a>
  <a href="https://www.homeageconversations.com">
    <div class="icon">
      <img src="img/nav/hac.png" alt="Residents Podcast" />
      <span>Home Age Conversations</span>
    </div>
  </a>
  <a href="https://mew151.net/games">
    <div class="icon">
      <img src="img/nav/joystick_alt-0.png" alt="Gamez Archive" />
      <span>Natalie's Gamez Archive</span>
    </div>
  </a>
  <a href="https://blog.mew151.net">
    <div class="icon">
      <img src="img/nav/blog.png" alt="Blog" />
      <span>Perfect Pop Star Academy</span>
    </div>
  </a>
</div>
<div class="navigation-header">
  <strong>Find Me Elsewhere</strong>
  <hr />
</div>
<div class="navigation-group">
  <a href="https://meisekimiu.itch.io">
    <div class="icon">
      <img src="img/nav/joystick-4.png" alt="Itch" />
      <span>Itch.io</span>
    </div>
  </a>
  <a href="https://github.com/meisekimiu" rel="me">
    <div class="icon">
      <img src="img/nav/github.png" alt="Github" />
      <span>Github</span>
    </div>
  </a>
</div>
